*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
  
   
}
body, html{
    height: 100%;
    background-color: black;
}
h3{
    margin: 10px 10px 10px 20px;
    
}
h3 a{
    color: red;
    text-decoration: none;
    font-size:xx-large;
}
.container{
    background-image:url(../img/me-night.jpg);
    height: 100%;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    
}

.intro{
    position: absolute;
    top: 45%;
    left: 0;
    margin-left: 20px;
    padding: 5px;
}
.intro p{
    font-size: 20px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
}
.intro p span{
    color: red;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    animation: 
        typing .5s steps(40, end);
}
@keyframes{
    typing
}
.intro .link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro .link a{
    text-decoration: none;
    padding: 10px;
    background-color: red;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bolder;
}
.intro .link a:hover{
    background-color: hotpink;
}
nav{
    float: right; 
    margin-right:30px;
}
nav ul{
    display: flex;
    padding: 10px;
}
nav ul li{
    list-style-type: none;
    padding: 20px;
    
}
nav ul li a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    padding: 10px;
}
nav ul li a:hover {
    background-color: hsl(7, 80%, 48%);
    color: white;
  }
